doctype html
html
    head
        title To-do List
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    body
        .container-fluid
            .container-fluid
                h1.display-4(style='text-align:center') #{tituloAdicionar}
                form(method='POST', action='/tarefas/add')
                    #form-group
                        div.input-group.mb-3
                            input.form-control(name='nome', type='text', placeholder='Insira tarefa e clique "Enter" ou no botão "Adicionar"', aria-label='Insira tarefa')
                            div.input-group-append
                                input.btn.btn-primary(type='submit',value='Adicionar')
            .container-fluid
                .row
                    .col-xl.col-lg.col-md.col-sm
                        h3 #{tituloLista}
                        .container
                            #accordion
                                each tarefa, i in tarefas
                                    .card
                                        .card-header
                                            a.collapsed.card-link(data-toggle='collapse' data-target="#"+tarefa._id href="#"+tarefa.id)= tarefa.nome
                                        div(id=tarefa.id class="collapse" data-parent='#accordion')
                                            .card-body 
                                                p= "Estado: "+tarefa.estadoDaTarefa
                                                p= "Descrição detalhada: "+tarefa.descricaoDetalhada
                                                p= "Urgência: "+tarefa.eUrgente
                                                p= "Importância: "+tarefa.eImportante
                                                p= "Prioridade: "+tarefa.getPrioridade()
                                                p= "Tempo Mínimo: "+tarefa.tempoMinimo
                                                p= "Tempo Utilizado: "+tarefa.tempoUtilizado
                                                p= "Categoria: "+tarefa.categoria
                                                p= "Sub-Categoria: "+tarefa.subcategoria
                                    p
                    .col-xl.col-lg.col-md.col-sm
                        h3 #{tituloConcluidas}
                    .col-xl.col-lg.col-md.col-sm
                        h3 #{ideiasProjetos}
            br
            hr
            footer
                p Copyright &copy; #{new Date().getFullYear()}